# Requirements for the project
# Specify exact versions to ensure compatibility. 
# For uvicorn only the standard extras are needed.
fastapi==0.99.1
uvicorn[standard]==0.22.0
pydantic==1.7.4
aiofiles==23.1.0
paho-mqtt==1.6.1
